#problem_main_backgound{
	background-color: rgba(255,255,255,0.5);
	width: 1200px;
	margin: 50px auto;
}
#problem_title{
	font-size: 1.95rem;
	color: blue;
	font-weight: bold;
}
#problem_limit{
	font-size: 1.05rem;
	color: #5a0000;
}
#problem_submit{
	margin: 15px auto;
	font-size: 0.95rem;
	color: blue;
}
#pro_display_description{
	font-size: 1.75rem;
	color: blue;
	font-weight: bold;
	text-align: left;
}
#pro_display_detile{
	width: 1050px;
	margin: 3px auto;
	font-size: 1.05rem;
	text-align: left;
	background-color: rgba(0,255,43,0.5);
}
.page_a{
	text-decoration: none;
	color: #25215d;
	font-size: 1.25rem;
	margin-right: 1rem;
	line-height: inherit;
	font-weight: bold;
}
.first_table{
	background-color: #03acf9;
	font-size: 1.25rem;
	font-weight: bold;
	color: white;
}
.odd_table{
	background-color: #47c5ff;
	font-size: 1.25rem;
}
.even_table{
	background-color: #9de0ff;
	font-size: 1.25rem;
}
.table_font{
	color: #0600fd;
}
.textarea_size{
	width: 95%;
	height: 600px;
	white-space: nowrap;
}
.submit_size{
	width: 120px;
	height: 30px;
}
.result_ACcolor{
	color:green;
}
.result_RUNcolor{
	color: blue;
}
.result_ERcolor{
	color: red;
}